<div class="field" ng-repeat="field in fields">
	<div class="field" ng-switch on="field.type" ng-show="{{ field.type == '2' }}">
		{{ field.label }}

		<div ng-switch-when="1">
			<label ng-repeat="option in field.options">
				<input type="radio" value="{{option.value}}" name="{{ field.name }}" ng-required="{{ field.required }}" ng-model="field.selected" ng-checked="{{ field.selected == option.value }}" />
				{{option.text}}
			</label>
		</div>

		<div ng-switch-when="2">
			<select ng-model="field.selected" name="{{ field.name }}" ng-required="{{ field.required }}" 
				ng-options="option.text for option in field.options">
				<option value="">{{ field.emptyString || 'Selecione uma das opções' }}</option>
			</select>
		</div>

		<label for="">Switch the field type here:</label>
		<select name="" id="" ng-model="field.type">
			<option value="1">1</option>
			<option value="2">2</option>
		</select>
	</div>
</div>